/* this is css code*/
html {
  height: 100%;
  width: 100%;
}

#chip-counter,
#PU-counter,
#AM-counter,
#A1-counter{
  display: none;
}
#processing-unit-button,
#assembly-module-button,
#Mk1-assembler-button{
    display: none;
}

/* #chip-counter{
    display: none;
} */

#processing-unit-button.disabled,
#assembly-module-button.disabled,
#Mk1-assembler-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}